<h1>This is the secret page</h1>

<img src="https://cdni.rt.com/files/2018.02/article/5a9419fddda4c85a3d8b45df.jpg" style="width: 350px; height: 200px;"
	alt="">

<br>
<div>
	<a href="/login">Login Page</a>
</div>
<br>
<div>
	<a href="/register">Register</a>
</div>
<br>
<div>
	<a href="/logout">Logout</a>
</div>